<div class="card post-card">
  <div class="post-header">
    <a href="/posts/{{id}}"><h3>{{title}}</h3></a>
    <h4 class="post-details">Posted by User: {{user_id}} on {{format_date createdAt}}</h4>
  </div>
  <div class="post-body">
    <p>
      "{{content}}"
    </p>
  </div>
</div>