<div class=" card post-card mt-5">
  <div class="card-header d-flex justify-content-between">
    <h3>{{post.title}}</h3>
    <p class="mb-4">Posted by {{post.user.username}} on Date: {{format_date post.createdAt}}
    </p>
  </div>
  <div class=" card-body post-body">
    <p>
      "{{post.content}}"
    </p>
  </div>
</div>
<br>
{{#if loggedIn}}
{{#if matchesUser}}
<button class="display-form btn btn-primary mr-2">Update Post</button>
<button class="delete btn btn-primary">Delete</button>
{{/if}}
{{/if}}
<div class="row justify-space-between-md mt-5">
  <div class="update-card hidden">
    <h2 class="form-title">Update your post</h2>
    <form class="form update-form" id="{{post.id}}">
      <div class="form-group mt-3">
        <label for="new title">New post title: </label>
        <input class="form-control" type="text" id="title" />
      </div>
      <div class="form-group mt-3">
        <label for="new content">What did you want to say? </label>
        <textarea class="form-control" type="text" id="content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary update" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<br>
<h4 class="mb-3">Comments</h4>
{{#each comments}}
{{> comment-card}}
{{/each}}

{{#if loggedIn}}
<form class="g-3 form comment-form" id="{{post.id}}">
  <div class="mb-3 mt-3">
    <label for="comment" class="form-label">New comment</label>
    <input type="text" class="form-control" id="comment" placeholder="Write your comment here">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create Comment</button>
  </div>
</form>
{{else}}
<h5 class="mt-4 mb-4">You need to log in to leave comments.</h5>
<a href="/login"><button class="btn btn-primary mb-10">Login</button></a>
{{/if}}
<br>
<br>
<br>
<br>
<br>
<br>